test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide

*storybook.log
compiled

# Test Reports and Coverage
/test-results/
/coverage/
/playwright-report/
/html/
*.xml
*.html
vitest-results.json
coverage-summary.json
playwright-results.json